{% extends "base.html" %}

{% block head %}
{% style "/easyui/themes/default/easyui.css" %}
{% style "/easyui/themes/icon.css" %}
{% style "/easyui/themes/color.css" %}
<style>
 <!--
 body {
     background-image: url(/images/registro.jpg);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     background-position: bottom;
 }
 //-->
</style>
{% endblock %}

{% block navbar_content %}
{% include "cc/registro_menu.html" %}
{% endblock %}

{% block content %}
<div id="carreras_accordion" class="easyui-accordion master" data-options="fit:false,selected:false,width: '100%'">
    {% for row in rows %}
    <div id="accordion-parent" title="{{row.descripcion}}"
         data-options="href:'/table_ref/carreras/{{row.id}}'"
         style="overflow:auto;padding:10px;" >
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
{% script "/easyui/jquery.easyui.min.js" %}
{% script "/easyui/datagrid-detailview.js" %}
{% script "/easyui/plugins/jquery.datagrid.js" %}
{% script "/js/jquery.maskedinput.min.js" %}
{% script "/easyui/locale/easyui-lang-es.js" %}
<script>
 $(document).ready(function() {
     if ($("#carreras_accordion").accordion('getSelected')) {
         $("#categorias_accordion").accordion('add',{
             title:'New Title',
             content:'New Content',
             selected:false
         });
     }
 });
</script>
{% endblock %}
