{% extends "base.html" %}

{% block head %}
{% style "/easyui/themes/default/easyui.css" %}
{% style "/easyui/themes/icon.css" %}
{% style "/easyui/themes/color.css" %}
<style>
<!--
body {
  background-image: url(/images/registro.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: bottom;
}
//-->
</style>
{% endblock %}

{% block navbar_content %}
{% include "cc/registro_menu.html" %}
{% endblock %}

{% block content %}
<div class="container col-8">
    <div class="card-header">
        <h4 class="mb-0"><span style="color:rgb(18,123,163);">Registrate Aquí</span></h4>
    </div>
    <form class="fm" method="post" action="/registro/save" novalidate style="width:100%;background-color:#EFEFEF;">
        {% csrf-field %}
        <!-- <div class="form-group col-11" style="background-color:#f0f0f0;"> -->
        <!--   <p><small>Realizar el Pago en cualquier banco <b>{{banco}}</b> o directamente en cualquier tienda <b>OXXO</b></small><br/> -->
        <!--   <small>Número de cuenta <b>{{banco}}: {{banco_cuenta}}</b></small><br/> -->
        <!--   <small>{{banco_instrucciones}}</small> -->
        <!--   </p> -->
        <!-- </div> -->
        <input id="send_email" name="send_email" type="hidden" value="T">
        <div class="form-group col-10">
          <label for="carreras_id">Seleccionar Carrera:</label>
            <input id="carreras_id" name="carreras_id" class="form-control easyui-combobox" data-options="url:'/table_ref/carreras',
            method:'GET',
            onSelect:function(record){
            var url = '/table_ref/get_categorias/'+record.value;
            $('#categoria').combobox('reload',url);
            }">
        </div>
        <div class="form-group col-10">
            <label for="categoria">Categoria:</label>
            <input id="categoria" name="categoria" class="form-control easyui-combobox" data-options="method:'GET'">
        </div>
        <div class="form-group col-10">
          <label for="corredor_id">Corredor:<br><small>Puedes buscar por nombre o email. Ex. juan o click en la flechita para seleccionar corredor.</small></label>
            <input name="corredor_id" class="form-control easyui-combobox" id="corredor_id" data-options="required: true,url:'/table_ref/nombres',method:'GET'">
        </div>
        <div class="form-group col-11">
          <label for="equipo">Equipo:</label>
          <input id="equipo" name="equipo" class="form-control easyui-textbox" data-options="required: true">
        </div>
        <div class="form-group col-11">
          <label for="tutor">Nombre del padre o tutor (En su caso):</label>
          <input id="tutor" name="tutor" class="form-control easyui-textbox" data-options="required: false">
        </div>
        <div class="form-group col-10">
          <input id="registrarse" type="submit" class="btn btn-primary" value="Registrate">
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
{% script "/easyui/jquery.easyui.min.js" %}
{% script "/easyui/datagrid-detailview.js" %}
{% script "/easyui/plugins/jquery.datagrid.js" %}
{% script "/js/jquery.maskedinput.min.js" %}
{% script "/easyui/locale/easyui-lang-es.js" %}
{% endblock %}
