{% extends "base.html" %}

{% block head %}
{% style "/easyui/themes/default/easyui.css" %}
{% style "/easyui/themes/icon.css" %}
{% style "/easyui/themes/color.css" %}
<style>
<!--
body {
  background-image: url(/images/registro.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
}
//-->
</style>
{% endblock %}

{% block navbar_content %}
{% include "cc/registro_menu.html" %}
{% endblock %}

{% block content %}
<div class="container col-8">
    <div class="table-responsive">
      <table class="table table-light table-striped">
        <thead class="thead-dark">
          <tr style="text-align: center;">
            <th colspan=3 align='center'>
              {{ title|upper }}
            </th>
          </tr>
          <tr>
            <th>CATEGORIA</th>
            <th>NOMBRE</th>
            <th>PUNTOS</th>
          </tr>
        </thead>
        <tbody>
          {% for row in rows %}
          <tr>
            <td>{{ row.categoria }}</td>
            <td>{{ row.nombre }}</td>
            <td>{{ row.puntos }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% script "/easyui/jquery.easyui.min.js" %}
{% script "/easyui/datagrid-detailview.js" %}
{% script "/easyui/plugins/jquery.datagrid.js" %}
{% script "/js/jquery.maskedinput.min.js" %}
{% script "/easyui/locale/easyui-lang-es.js" %}
<script>
$('#registrarse').click(function(event) {
    var the_email = $("#email").val();
    if (!the_email) {
        return $('.fm').form('validate');
    }
});
</script>
{% endblock %}
