{% extends "base.html" %}
{% block loader_head %}{% endblock %}
{% block loader_container %}{% endblock %}
{% block loader_scripts %}{% endblock %}
{% block head %}
<style>
.carousel {
  position:relative;
}
.carousel-item .img-fluid {
  width:100%;
  max-width:100%;
}
.my-img {
  max-width: 800px;
  max-height: 600px;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-1">
            <li><strong>Eventos: </strong></li>
        </div>
        <div class="col-11">
            <span>Listado de todos los eventos y carreras.  Ex. Paseo Rosarito Ensenada.</span>
        </div>
        <div class="col-1">
            <li><strong>Talleres:</strong></li>
        </div>
        <div class="col-11">
            <span><strong>Enlista los </strong>Talleres de reparación/venta de bicicletas de la localidad.</span>
        </div>
        <div class="col-1">
            <li><strong>Grupos:</strong></li>
        </div>
        <div class="col-11">
            <span><strong>Enlista los</strong> Grupos ciclistas tales como MBC cycling, Team Power, Cuadrante Rosita, LaPedacera, Sector Ciclista Azul etc...</span>
        </div>
        <div class="col-1">
            <li><strong>Registro:</strong></li>
        </div>
        <div class="col-11">
            <span>Aquí podrás registrarte para alguna competencia de ciclismo , solo tendrás que seleccionar los siguientes datos :</span>
        </div>
        <div class="col-1">
            &nbsp;
        </div>
        <div class="col-11">
            <ul type="square">
                <li>Seleccionar la carrera disponible en la que quieras participar .</li>
                <li>Seleccionar la categoría en la que el corredor  participara.</li>
                <li>Seleccionar El Corredor que aparece en el comboBox y si no aparece el nombre del corredor solo tendrás que presionar el botón de nuevo para registrar tus datos(Nombre, apellido paterno y materno , país, ciudad, Teléfono, correo electrónico, Equipo, fecha de nacimiento y dirección).</li>
                <li>Seleccionar El Equipo</li>
                <li>y escribir el Nombre del padre o tutor (En su caso): </li>
                <li>Y por ultimo presionar el Boton de Registrar y listo ya estarás registrado y  recibirás vía correo electrónico tu confirmación  de tu registro en la carrera.</li>
            </ul>
        </div>
        <div class="col-1">
            <li><strong>Entrar:</strong></li>
        </div>
        <div class="col-11">
            <span>Aquí podrás registrarte como miembro y así crear Eventos y se podrá visualizar en la lista de eventos organizado por mes.</span> 
        </div>
        <div class="col-12">
            <hr>
        </div>
        <div class="col-12">
            <span>Si tienes alguna sugerencia o necesitas  o ayuda, estamos para ayudarte.</span>
        </div>
        <div class="col-12">
            <span><a href="mailto:marcopescador@hotmail.com" class="easyui-linkbutton" data-options="IconCls:'icon-email'">Mandame Un Correo</a></span>
        </div>
    </div>
</div>
{% endblock %}
