{% extends "base.html" %}
{% block loader_head %}{% endblock %}
{% block loader_container %}{% endblock %}
{% block loader_scripts %}{% endblock %}
{% block head %}
<style>
.evento_image {
	cursor: pointer;
	cursor: hand;
}
</style>
{% endblock %}
{% block content %}
<h1 style="text-align:center;margin:0;margin-bottom:0;font-size:2em;font-weight:bold;color:#fa981b;text-transform:uppercase;">{{ title }}</h1>
<div class="row justify-content-center">
	<div class="col-auto">
		<img class="evento_image" width="279" height="279" src="/images/Calendario_enero.jpg" class="img-fluid" onclick="showEvents({{ year }}, 1)">
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-auto">
		<img class="evento_image" width="279" height="279" src="/images/Calendario_febrero.jpg" class="img-fluid" onclick="showEvents({{ year }}, 2)">
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-auto">
		<img class="evento_image" width="279" height="279" src="/images/Calendario_marzo.jpg" class="img-fluid" onclick="showEvents({{ year }}, 3)">
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-auto">
		<img class="evento_image" width="279" height="279" src="/images/Calendario_abril.jpg" class="img-fluid" onclick="showEvents({{ year }}, 4)">
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-auto">
		<img class="evento_image" width="279" height="279" src="/images/Calendario_mayo.jpg" class="img-fluid" onclick="showEvents({{ year }}, 5)">
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-auto">
		<img class="evento_image" width="279" height="279" src="/images/Calendario_junio.jpg" class="img-fluid" onclick="showEvents({{ year }}, 6)">
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-auto">
		<img class="evento_image" width="279" height="279" src="/images/Calendario_julio.jpg" class="img-fluid" onclick="showEvents({{ year }}, 7)">
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-auto">
		<img class="evento_image" width="279" height="279" src="/images/Calendario_agosto.jpg" class="img-fluid" onclick="showEvents({{ year }}, 8)">
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-auto">
		<img class="evento_image" width="279" height="279" src="/images/Calendario_septiembre.jpg" class="img-fluid" onclick="showEvents({{ year }}, 9)">
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-auto">
		<img class="evento_image" width="279" height="279" src="/images/Calendario_octubre.jpg" class="img-fluid" onclick="showEvents({{ year }}, 10)">
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-auto">
		<img class="evento_image" width="279" height="279" src="/images/Calendario_noviembre.jpg" class="img-fluid" onclick="showEvents({{ year }}, 11)">
	</div>
</div>
<div class="row justify-content-center">
		<div class="col-auto">
		<img class="evento_image" width="279" height="279" src="/images/Calendario_diciembre.jpg" class="img-fluid" onclick="showEvents({{ year }}, 12)">
	</div>
</div>
	{% block scripts %}
	<script>
	function showEvents(year, month) {
		var url = "/eventos/" + year + "/" + month;
		window.location.href = url;
	}
	</script>
	{% endblock %}
{% endblock %}
