{% extends "base.html" %}
{% block loader_head %}{% endblock %}
{% block loader_container %}{% endblock %}
{% block loader_scripts %}{% endblock %}
{% block content %}
{% for item in rows %}
<div class="row">
	<div class="col-auto">
		<div class="row">
			<div class="col-auto">
        <h3 class="h3-primary" style="color:#127ba3;font-weight:bold;">{{ item.nombre|upper }}</h3><button type="button" class="btn btn-info btn-lg btn-block" data-toggle="popover" data-placement="right" data-content="{{ item.historia }}">Historia</button>
			</div>
		</div>
		<div class="row">
			<div class="col-auto">
				<strong>SITIO</strong><span class="vertical-divider-secondary" style="color:#fa981b;font-weight:bold;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;</span>
        <a  href="{{ item.sitio }}" target="_blank">{{ item.sitio }}</a>
			</div>
		</div>
		<div class="row">
			<div class="col-auto">
				<strong>DIRECCIÓN</strong><span class="vertical-divider-secondary" style="color:#fa981b;font-weight:bold;">&nbsp;&nbsp;|&nbsp;</span>
        {{ item.direccion }}
			</div>
		</div>
		<div class="row">
			<div class="col-auto">
				<strong>HORARIOS</strong><span class="vertical-divider-secondary" style="color:#fa981b;font-weight:bold;">&nbsp;&nbsp;&nbsp;|&nbsp;</span>
				{{ item.horarios }}
			</div>
		</div>
		<div class="row">
			<div class="col-auto">
				<strong>TELEFONO</strong><span class="vertical-divider-secondary" style="color:#fa981b;font-weight:bold;">&nbsp;&nbsp;&nbsp;|&nbsp;</span>
				{{ item.telefono }}
			</div>
		</div>
		<div class="row">
			<div class="col-auto">
				<strong>MAPA</strong><span class="vertical-divider-secondary" style="color:#fa981b;font-weight:bold;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;</span>
        <a href="{{ item.direcciones }}" target="_blank">Cómo Llegar</a>
			</div>
		</div>
		<div class="row warning">
			<div class="col-auto" style="color:#127ba3;">
				{{ item.llegar }}
			</div>
		</div>
	</div>
</div>
<div class="row"><div class="col-auto">&nbsp;</div></div>
{% endfor %}
{% endblock %}
{% block scripts %}
<script>
$(function() {
	$('[data-toggle="popover"]').popover()
})
</script>
{% endblock %}
