{% extends "base.html" %}

{% block head %}
{% style "/easyui/themes/default/easyui.css" %}
{% style "/easyui/themes/icon.css" %}
{% style "/easyui/themes/color.css" %}
{% endblock %}

{% block navbar_content %}
{% include "cc/padron_menu.html" %}
{% endblock %}

{% block content %}
<div class="container col-8">
    <div class="card-header">
        <h4 class="mb-0"><span style="color:rgb(18,123,163);">{{ title }}</span></h4>
    </div>
  <form id="padron-fm" class="fm" method="POST" action="/padron" enctype="multipart/form-data" novalidate style="width:100%;background-color:#EFEFEF;">
    {% csrf-field %}
    <input type="hidden" id="id"  name="id">
    <div class="form-group col-11">
        <label><strong>Padron:</strong>&nbsp;{{ id }}</label>
    </div>
    <div class="form-group col-11">
      <label for="nombre">Nombre del corredor:</label>
      <input id="nombre" name="nombre" class="form-control easyui-textbox" data-options="required: true">
    </div>
    <div class="form-group col-11">
      <label for="apell_paterno">Apellido Paterno:</label>
      <input id="apell_paterno" name="apell_paterno" class="form-control easyui-textbox" data-options="required: true">
    </div>
    <div class="form-group col-11">
      <label for="apell_materno">Apellido Materno:</label>
      <input id="apell_materno" name="apell_materno" class="form-control easyui-textbox" data-options="required: false">
    </div>
    <div class="form-group col-11">
      <label for="pais">Pais:</label>
      <input id="pais" name="pais" class="form-control easyui-textbox" data-options="required: false">
    </div>
    <div class="form-group col-11">
      <label for="ciudad">Ciudad:</label>
      <input id="ciudad" name="ciudad" class="form-control easyui-textbox" data-options="required: false">
    </div>
    <div class="form-group col-11">
      <label for="telefono">Telefono:</label>
      <input id="telefono" name="telefono" class="form-control easyui-textbox type-phone" data-options="required: false">
    </div>
    <div class="form-group col-11">
      <label for="email">Email:</label>
      <input id="email" name="email" class="easyui-textbox easyui-validatebox form-control" data-options="required:false,validType:'email'">
    </div>
    <div class="form-group col-11">
      <label for="sexo">Sexo:</label>
      <select id="sexo" class=" form-control easyui-combobox" name="sexo">
        <option value=""></option>
        <option value="M">Masculino</option>
        <option value="F">Femenino</option>
      </select>
    </div>
    <div class="form-group col-11">
      <label for="fecha_nacimiento">Fecha de nacimiento:</label>
      <input id="fecha_nacimiento" name="fecha_nacimiento" class="form-control easyui-datebox" data-options="required: false">
    </div>
    <div class="form-group col-11">
      <label for="direccion">Direccion:</label>
      <input id="direccion" name="direccion" class="form-control easyui-textbox" data-options="required: false">
    </div>
    <div class="form-group col-10">
        <a href="javascript:void(0)" class="btn btn-primary easyui-linkbutton" id="padron-submit">Actualizar</a>
    </div>
  </form>
</div>
{% endblock %}
{% block scripts %}
{% script "/easyui/jquery.easyui.min.js" %}
{% script "/easyui/datagrid-detailview.js" %}
{% script "/easyui/plugins/jquery.datagrid.js" %}
{% script "/js/jquery.maskedinput.min.js" %}
{% script "/easyui/locale/easyui-lang-es.js" %}
<script>
    $(document).ready(function() {
        var load_url = "/padron/load/{{ id }}";
        $("#padron-fm").form('load', load_url);

        $("a#padron-submit").click(function() {
            $("#padron-fm").submit();
        });

        $("#padron-fm").form({
            url: "/padron",
            onSubmit: function() {
                return $(this).form("enableValidation").form("validate");
            },
            success: function(data) {
                try {
                    var dta = JSON.parse(data);
                    if(dta.hasOwnProperty('url')) {
                        window.location.href = dta.url;
                    } else if(dta.hasOwnProperty('error')) {
                        $.messager.alert('Error', dta.error, 'error');
                    }
                } catch(e) {
                    console.error("Invalid JSON");
                }
            }
        });
    });
</script> 
{% endblock %}
