<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <a href="/contrareloj" class="navbar-brand" style="margin-bottom: 0; ">Ciclismo Competitivo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                                                                      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" id="cum">
      <li class="nav-item"><a href="/contrareloj/crear/carrera" class="nav-link">Crear Carrera</a></li>
      <li class="nav-item"><a href="/contrareloj/tomar/tiempo" class="nav-link">Tiempos</a></li>
      <li class="nav-item"><a href="/contrareloj/resultados" class="nav-link">Resultados</a></li>
      <li class="nav-item"><a href="/contrareloj/cresultados" class="nav-link">Resultados/Categoria</a></li>
      <li class="nav-item"><a href="/contrareloj/oresultados" class="nav-link">Resultados/Overall</a></li>
    </ul>
  </div>
</nav>
