{% extends "base.html" %}

{% block head %}
{% style "/easyui/themes/default/easyui.css" %}
{% style "/easyui/themes/icon.css" %}
{% style "/easyui/themes/color.css" %}
{% endblock %}

{% block navbar_content %}
{% include "cr/contrareloj_menu.html" %}
{% endblock %}

{% block content %}
<h1>{{title}}</h1>
<div>
    <p>
        <span>No se pudo processar porque el rango de <strong><i>"{{min_number}}"</i></strong> a <strong><i>"{{max_number}}"</i></strong> es mayor que el numero total <strong><i>"{{max_count}}"</i></strong> de records en la base de datos.  Intente de nuevo con una nueva secuencia.</span>
    </p>
</div>
{% endblock %}

{% block scripts %}
{% script "/easyui/jquery.easyui.min.js" %}
{% script "/easyui/datagrid-detailview.js" %}
{% script "/easyui/plugins/jquery.datagrid.js" %}
{% script "/js/jquery.maskedinput.min.js" %}
{% script "/easyui/locale/easyui-lang-es.js" %}
{% endblock %}
